@import "font.css";

html {background: #F5F5F7;font-family:Circular}
body{
  width:800px;
  height:470px;
  /*background-color:#FF0000;*/
  overflow:hidden;
}
/*––––––––––– WHEEL –––––––––––*/

#wheelContainer{
  position: relative;
  border:1px solid red;
  width:1px;
  margin-top:80px;
  left:50%;
  transform: translateX(-50%);
}

#pin{
  position: absolute;
  top: -15px;
  left:-4px;
  width: 8px;
  height: 8px;
  border-radius:  10px;
  background-color: #000000;
  z-index: 100;
}

#colorWheel {
  height: 300px;
  width: 150px;
  position: absolute;
  transform-origin: 0 center;
  -moz-transition: transform 1s ease-out;
  -webkit-transition: transform 1s ease-out;
  transition: transform 1s ease-out;
}

#colorWheel span {
  position: absolute;
  left:-30px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-style: solid;
  border-width: 150px 30px;
  box-sizing: border-box;
}

#colorWheel span img{
  position: absolute;
  width:30px;
  height:30px;
  bottom:115px;
  left:-15px;
}

#colorWheel:before {
  content: "";
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: absolute;
  top: -30px;
  left: -180px;
  border-radius: 100%;
  /*border: 30px solid rgba(255,255,255,0.5);*/
  border: 30px solid #F5F5F7;
  z-index: 100;
}

/*––––––––––– INTERFACE –––––––––––*/

#audio{display:none;}

#roue{
  width:350px;
  height:350px;
  transform: scale(1.5);
  position: absolute;
  top: 0px;
  left: 220px;
}
#controls{
  display:none;
}
#right-column{
  position:absolute;
  top:0px;
  left:800px;
  width: 350px;
  height: 200px;
 padding:10px;
  background-color:#aaaaaa;

  -moz-transition: left 0.5s ease-out,height 0.5s ease-out;
  -webkit-transition: left 0.5s ease-out,height 0.5s ease-out;
  transition: left 0.5s ease-out,height 0.5s ease-out;
  border-radius: 5px;

  overflow:hidden;
}
#spectro-up{

  width:340px;
  height:150px;
  background-image:url('../img/_spectro-baleine.jpeg');
  background-color:#000;
  background-repeat:no-repeat;
  background-size:contain;
  background-position-x:350px;
  border-style:solid;
  border-color:#FFF;
  border-width:5px;
  border-radius:5px;
  -moz-transition: background-position-x 2s ease-out;
  -webkit-transition: background-position-x 2s ease-out;
  transition: background-position-x 2s ease-out;

  position: absolute;
  top: 40px;
}

#spectro-down{
  position: absolute;
  top: 280px;
}
#title-column{
  color:#000;
  font-size:24px;
  line-height:24px;
}
#title-up{
  color:#FF0;
  font-size:20px;
}
#title-down{
  color:#000;
  font-size:24px;
  line-height:24px;
  position: absolute;
  top: 220px;
  width:90%;
}
#match{
  color:#860267;
  font-size:20px;
  position: absolute;
  top: 450px;
}
canvas{
  width:340px;
  height:150px;
  background-color:#000;
  border-style:solid;
  border-color:#FFF;
  border-width:5px;
  border-radius:5px;

}


#start-mask{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#FFFFFF;
}
.begin-button{


  height: 27px;
  width: 100px;
  text-align:center;
  border: 1px solid rgba(121, 121, 121, 0.61);
  border-radius: 24px;
  background-color: #5937B9;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.39);
  padding: 10px 10px;
  margin: 215px auto;

  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;

  cursor:pointer;
}