@import "font.css";

*{font-family: "Circular";margin:0;padding:0;list-style:none;}
html{}
body{
  width:800px;
  height:480px;
  overflow:hidden;
  /*background-color:#F00;*/
}
a{color:#000;text-decoration:none;}

#controls{width:215px;font-size:12px;margin-left:10px;}
#predict{background-color:#FFF;padding:15px;border-radius:15px;display:none;}
#predict *{display:inline;}

#CanvasPanel{
  position: absolute;
  top:0px;left:230px;

  margin:0px;padding:15px;background-color:#FFF;
  border-radius: 15px;
  border: 1px solid #AAA;

  -moz-transition: height 0.5s ease-out;
  -webkit-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
}

#CanvasContainer{
  width:520px;
  height:185px;
  background-color:#fefefe;
  border-radius: 5px;
}

#CanvasContainer canvas {width:520px;height:185px;border-radius: 5px;background-color:#000;}
#CanvasContainer h3{
  position:absolute;font-size:15px;left:50%;top:25%;transform: translate(-50%,-50%);
  color: #FFF;
}

/*#videoContainer video{width:500px;height:375px;border-radius: 5px;}*/



#status{position:absolute;font-size:10px;margin:5px;margin-left:10px;}
/*#buttonPredict{position:absolute;right:16px;top:344px;}*/

.class{
  width:215px;
  background-color: #DDD;
  border-radius:15px;
  border: 1px solid #AAA;
  margin-bottom:3px;
  position:relative;
}

.class_title{
  background-color:#FFF;
  padding-top:1px;
  padding:10px;
  border-radius:15px 15px 0 0;
}
.class_title h3{margin-left:20px;}

.class_controls{
  opacity:0;/**/
  cursor:default;!important;
}

button{
  background-color: dodgerblue;
  padding:5px;
  font-size:12px;
  border : none;
  border-radius:5px;
  margin : 5px;
  color:#FFF;
  cursor:pointer;
}

.samples{margin:5px;}

header{position: fixed;background-color:#FFF;width:100%;padding:13px;border-bottom:1px solid #AAA;}
header h1{font-size:20px;}
header h2{font-size:10px;}
header nav{position: absolute;top:10px;right:50px;}
header nav ul li{display: inline-block;}

#class_output{margin-top:10px;display:none;}
#class_output li{position:relative;margin-top:5px;}
#class_output li *{display: block;}
#class_output li label{font-size:12px;color:#000;}
#class_output li span{z-index:9;position:absolute;top:30px;left:15px;font-size:12px;color:#FFF;}

input[type="range"] {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 40px;
  width: 100%;
  cursor: default;
  border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
  background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 * 2. Shadow is negative the full width of the input and has a spread
 *    of the width of the input.
 */
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2px; /* 1 */
  height: 40px;
  background: #fff;
  box-shadow: -260px 0 0 260px dodgerblue; /* 2 */
  border: 2px solid #999; /* 1 */
}

::-moz-range-track {
  height: 40px;
  background: #ddd;
}

::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 2px;
  border: 3px solid #999;
  border-radius: 0 !important;
  box-shadow: -260px 0 0 260px dodgerblue;
  box-sizing: border-box;
}

::-ms-fill-lower {
  background: dodgerblue;
}

::-ms-thumb {
  background: #fff;
  border: 2px solid #999;
  height: 40px;
  width: 2px;
  box-sizing: border-box;
}

::-ms-ticks-after {
  display: none;
}

::-ms-ticks-before {
  display: none;
}

::-ms-track {
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none;
}

::-ms-tooltip {
  display: none;
}

.hidden{
  display:none;
}

.echantillon{
  border-radius: 5px;
  border: 1px solid #AAA;
  width:50px;
  height:50px;
  position:absolute;
  top:0px;
  left:0px;
  overflow:hidden;
}
#ech11{
  top:45px;
  left:15px;
}
#ech12{
  top:45px;
  left:80px;
}
#ech13{
  top:45px;
  left:145px;
}
#ech21{
  top:45px;
  left:15px;
}
#ech22{
  top:45px;
  left:80px;
}
#ech23{
  top:45px;
  left:145px;
}

#ech31{
  top:45px;
  left:15px;
}
#ech32{
  top:45px;
  left:80px;
}
#ech33{
  top:45px;
  left:145px;
}
#buttonStart{
  background-color: #D2553F;
  padding: 5px;
  font-size: 24px;
  border: none;
  border-radius: 24px;
  margin: 5px;
  color: #FFF;
  cursor: pointer;
  position: absolute;
  top: 220px;
  left: calc(50% - 50px);
  width: 100px;
  display:none;
}

#buttonRecord{
  background-color: #D2553F;
  padding: 5px;
  font-size: 24px;
  border: none;
  border-radius: 24px;
  margin: 5px;
  color: #FFF;
  cursor: pointer;
  position: absolute;
  top: 220px;
  left: calc(50% - 50px);
  width: 100px;
  display:none;
}
#buttonTrain{
  background-color: #D2553F;
  padding: 5px;
  font-size: 24px;
  border: none;
  border-radius: 24px;
  margin: 5px;
  color: #FFF;
  cursor: pointer;
  position: absolute;
  top: 220px;
  left: calc(50% - 150px);
  width: 300px;
  display:none;
}
.echantillon canvas{
  width:50px;
  height:50px;/**/

}
#loadingfake{
  position: absolute;
  top: 250px;
  left: 270px;
  display:none;
}