<div class="interactive-step">
    <div class="step-description">
        <p class="chapter">{{i18n "Débusquer l’IA : IA ou humains ?"}}</p>

    </div>
    <div>

        <div class="jeu">

            <div class="qcm-instructions-panel">
                <div class="instructions-panel-top">
                    <div class="image-for-qcm" ></div>
                </div>
                <div class="instructions-panel-bottom">
                    <button class="qcm-button human">{{i18n "Un être humain"}}</button>
                    <button class="qcm-button ai">{{i18n "Une IA"}}</button>
                </div>
            </div>
        </div>
    </div>
            <div class="consignes">{{i18n "S'agit-il d'un vrai être humain ou d'une image créée par une IA ? "}}<br/><br/>{{i18n " Cliquez sur la bonne réponse."}}</div>

</div>
