<div class="credits-click">
</div>
<div class="interactive-step">
    <div class="credits">
        <div class="columns">
            <div class="column">
                <p class="credits-rubrique">{{i18n "Production et réalisation"}}</p>
                <p>{{i18n "Data.bingo pour Class’Code IAI."}}</p>
                <p><a class="basic-link" href="https://data.bingo/" target="_blank">{{i18n "data.bingo"}}</a></p>
                <br/>
                <div>
                    <p>{{i18n "Thu Trinh-Bouvier, Bastien Didier, Julien Levesque, Albertine Meunier et Sylvie Tissot, "}}<span class="metier">{{i18n "Conception."}}</span></p>
                    <p>{{i18n "Bastien Didier et Sylvie Tissot,"}}<span class="metier">{{i18n "Développement."}}</span><br />{{i18n "&nbsp;"}}<br /></p>
                    <p>{{i18n "Benjamin Ninassi et Denis Chiron,"}}<span class="metier">{{i18n "Architecture technique."}}</span></p>
                    <p>{{i18n "Veronica Holguin, "}}<span class="metier">{{i18n "Graphisme."}}</span></p>
                    <p>{{i18n "Sophie de Quatrebarbes et Sonia Cruchon, "}}<span class="metier">{{i18n "Réalisation et suivi de production."}}</span></p>
                </div>
            </div>
            <div class="column">
                <p class="credits-rubrique">{{i18n "Données, logiciels, etc..."}}</p>
                <p>{{i18n "Le présent tutoriel ne stocke aucune donnée personnelle. Les images et les sons sont traitées au niveau local sur la machine de l’utilisateur."}}</p>
                <br/>
                <p>{{i18n "Hébergement : Inria Rocquencourt."}}</p>
                <p>{{i18n "Algorithmes : "}}<span class="metier">{{i18n "ML5, Yolo, Web speech Recognition, Web speech synthesis"}}</span></p>
                <p>{{i18n "Navigateur supporté : Chrome"}}</p>
            </div>
        </div>
        <div class="une-production">
            {{i18n "Une production data.bingo en coproduction avec Inria et S24B l’interactive et class’code."}}
        </div>
        <div class="logos">
            <span class="logo-data-bingo"></span>
            <span class="logo-inria"></span>
            <span class="logo-s24b"></span>
            <span class="logo-classcode"></span>
            {{{i18n "EXTRA_LOGO" " "}}}
        </div>
        <div class="create-commons">
            {{i18n "© Cette ressource est sous licence CC BY SA 2020"}}
        </div>
    </div>
</div>