<div class="interactive-step">
    <div class="step-description">
                <p class="chapter">{{i18n "Débusquer l’IA : IA ou humains ?"}}</p>
                <h2>{{i18n "En savoir encore plus"}}</h2>

    </div>

    <div>

        <div class="qcm-instructions-panel">
            <div class="instructions-panel-top">
                <div class="savoir-plus">
                    <ul>
                        <li>{{i18n "GAN ("}}<a class="outer-link" href="https://en.wikipedia.org/wiki/Generative_adversarial_network" target="_blank">{{i18n "generative adversarial network"}}</a>)</li>
                        <li><a class="outer-link" href="https://arxiv.org/abs/1812.04948" target="_blank">{{i18n "StyleGAN"}}</a>{{i18n " (Dec 2018) - "}}<a class="outer-link" href="https://research.nvidia.com/person/tero-karras" target="_blank">{{i18n "Karras"}}</a>{{i18n " et al. and Nvidia"}}</li>
                        <li><a class="outer-link" href="https://arxiv.org/abs/1406.2661" target="_blank">{{i18n "Original GAN"}}</a>{{i18n " (2014) - "}}<a class="outer-link" href="https://twitter.com/goodfellow_ian" target="_blank">{{i18n "Goodfellow"}}</a>{{i18n " et al."}}</li>
                        <li>{{i18n "Don't panic. Learn about "}}<a class="outer-link" href="https://www.lyrn.ai/2018/12/26/a-style-based-generator-architecture-for-generative-adversarial-networks/" target="_blank">{{i18n "how it works"}}</a>.</li>
                        <li><a class="outer-link" href="https://usbeketrica.com/article/ia-tableau-art-buzzword" target="_blank">{{i18n "https://usbeketrica.com/article/ia-tableau-art-buzzword"}}</a></li>
                    </ul>

                    <p>
                    {{i18n "Source d’images de ce tutoriel issues des GAN"}}  : <br />
                     <a class="outer-link" href="https://thispersondoesnotexist.com/" target="_blank">{{i18n "thispersondoesnotexist.com/"}}</a>
                    </p>
                    <p>
                    {{i18n "Source d’images de ce tutoriel de personnes réelles"}} :<br />
                    <a class="outer-link" href="https://pixabay.com/fr/" target="_blank">{{i18n "https://pixabay.com/fr/"}}</a>

                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
