<div class="intro-step tuto-accueil" style="background-image: url('{{i18n '../../assets/images/accueil_tuto1_avec_titre.png'}}')">
    <div>
        <div class="mobile-warning for-mobile">
            {{i18n "Cette partie n’est pas adaptée aux appareils mobiles. Veuillez la consulter dans Chrome, Firefox ou Microsoft Edge sur ordinateur ou tablette en mode paysage"}}
        </div>
        <div class="mobile-warning for-tablet">
            {{i18n "Veuillez passer en mode paysage pour une consultation optimale."}}
        </div>
        <h1 class="tuto-accueil-title">
            <span class="vous-avez-dit">{{i18n "Vous avez dit"}}</span>
            <span class="ia" >{{i18n "IA"}}</span>
            <span class="point-interrogation">?</span>
        </h1>
    </div>
</div>
