<div class="interactive-step">
    <div class="step-description">
        <h2>{{i18n "Entraînons le programme pour qu’il associe les exemples d’images aux catégories."}}</h2>
        <p class="description">{{i18n "Cliquer sur "}}<span class="btn-label">{{i18n "Entraîner"}}</span>.</p>
    </div>
    <div class="datasets-and-instructions">
        <div class="datasets no-dataset">
            <h3>{{i18n "Bibliothèque"}}</h3>
            <div class="dataset-images-grid navigable-images-grid" data-category="entrainement_tuto1" ></div>
        </div>
        <div class="instructions">
            <div class="instructions-header">
                <h3 class="programme">{{i18n "Programme"}}</h3>
            </div>
            <div class="instructions-panel large-panel-on-left">
                <div class="instructions-panel-left">

                    <div class="instructions-panel-left-header">
                        <h4>{{i18n category1 }}</h4>
                        <span class="validation"></span>
                    </div>

                    <!-- Galerie de la première catégorie -->
                    <div class="dataset-images-grid category1-images-grid category-images-grid" ></div>

                    <div class="instructions-panel-left-header">
                        <h4>{{i18n category2 }}</h4>
                        <span class="validation"></span>
                    </div>

                    <!-- Galerie de la seconde catégorie -->
                    <div class="dataset-images-grid category2-images-grid category-images-grid" ></div>

                    <div class="train-button-parent">
                        <button class="train-selections-button">{{i18n "Entraîner"}}</button>
                    </div>
                </div>

                <div class="instructions-panel-right">
                </div>
            </div>
        </div>
    </div>
</div>
