<div class="interactive-step datasets-with-two-rows-on-tablet">
    <div class="step-description">
        <h2>{{i18n "Faisons de même pour une seconde catégorie par exemple “Chien”."}}</h2>
        <p class="description">{{i18n "Choisir une seconde catégorie dans le menu déroulant et sélectionner 10 images correspondantes dans la bibliothèque puis cliquer sur "}}<span class="btn-label">{{i18n "Valider"}}</span>.</p>
    </div>
    <div class="datasets-and-instructions">
        <div class="datasets with-navigation">
            <h3>{{i18n "Bibliothèque"}}</h3>
            <ul class="datasets-navigation">
                <li><a class="previous-dataset" href="#">{{i18n "previous"}}</a></li>
                <li><a class="next-dataset" href="#">{{i18n "next"}}</a></li>
            </ul>
            <div class="dataset-images-grid navigable-images-grid clickable-images-grid" data-category="entrainement_tuto1" ></div>
        </div>
        <div class="instructions">
            <div class="instructions-header">
                <h3 class="programme">{{i18n "Programme"}}</h3>
            </div>
            <div class="instructions-panel large-panel-on-left">
                <div class="instructions-panel-left">

                    <div class="first-category-panel category-panel">

                        <!-- Nom de la première catégorie -->
                        <div class="instructions-panel-left-header">
                            <h4>{{i18n category1 }}</h4>
                            <span class="validation"></span>
                        </div>

                        <!-- Galerie de la première catégorie -->
                        <div class="dataset-images-grid category1-images-grid" ></div>

                    </div>

                    <div class="second-category-panel category-panel">

                        <div class="instructions-panel-left-header">
                            <!-- Liste déroulante de la seconde catégorie -->
                            <div class="parent-select">
                                <select disabled="disabled" id="datasetsForCategory2" class="dataset-names-selector"></select>
                            </div>
                        </div>

                        <!-- Galerie de la seconde catégorie -->
                        <div class="dataset-images-grid selected-images-grid" ></div>

                        <button class="validate-selection-button hidden">{{i18n "Valider"}}</button>
                    </div>
                </div>

                <div class="instructions-panel-right">
                </div>
            </div>
        </div>
    </div>
</div>
