<div class="interactive-step">
    <div class="step-description">
        <h2>{{i18n "Faisons de même avec une seconde catégorie par exemple “VERRE”."}}</h2>
        <p class="description">{{i18n "Définir un nom dans le champs de saisie. Prendre ou importer au moins 10 exemples en variant les positions et valider."}}</p>
    </div>
    <div>
        <div class="instructions full-width">
            <div class="instructions-header">
                <h3 class="programme">{{i18n "Programme"}}</h3>
            </div>
            <div class="instructions-panels">
                <div class="instructions-panel-left no-padding-left">
                    <!-- Nom de la seconde catégorie -->
                    <div class="input-for-category-parent">
                        <input type="text" placeholder="{{i18n "Définir la catégorie #2"}}" class="category-input" />
                    </div>
                    <!-- Webcam -->
                    <div class="columns with-padding-left">
                        <div class="column webcam-column" >
                            <div class="parent-webcam large-size" >
                            </div>
                        </div>
                        <div class="column buttons-column">
                            <button class="snapshot-button hidden">{{i18n "Prendre une photo"}}</button>
                            <label class="file-upload-button">
                                <input type="file" class="dataset-file-upload" />
                                {{i18n "Importer une photo"}}
                            </label>
                        </div>
                    </div>
                    <!-- Galerie de la seconde catégorie -->
                    <div class="dataset-images-grid category2-images-grid category-images-grid selected-images-grid dataset-images-with-checkbox" ></div>
                </div>
                <div class="instructions-panel-right vertical-align-bottom">
                    <div class="instructions-warning">
                        <p><strong>{{i18n "Important !"}}</strong></p>
                        <p>{{i18n "Les images ne font l’objet d’aucun traitement informatique et sont stockées localement. En rechargeant la page, les données sont perdues."}}</p>
                    </div>
                    <button class="validate-selection-button hidden">{{i18n "Valider"}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
