<div class="interactive-step">
    <div class="step-description">
        <h2>{{i18n "Chargement du json du pré-entrainement du modèle : NE SERT QU'EN PROD"}}</h2>
        <p class="description"></p>
    </div>
        <div>
        <div class="datasets">
            <h3>{{i18n "Bibliothèque"}}</h3>
            <div class="dataset-images-grid navigable-images-grid clickable-images-grid" data-category="tester_prediction_tuto1" ></div>
        </div>
        <div class="instructions">
            <div class="instructions-header">
                <h3 class="programme">{{i18n "Programme"}}</h3>
            </div>
            <div class="instructions-panel large-panel-on-right">
                <div class="instructions-panel-left">
                    <ul class="image-for-prediction" ></ul>
                </div>
                <div class="instructions-panel-right">
                    <button class="feature-predict-button hidden">{{i18n "Tester"}}</button>
                    <div class="prediction-result"></div>
                </div>
            </div>
        </div>
    </div>
</div>