<div class="interactive-step">
    <div class="step-description">
        <h2>{{i18n "Création du json du pré-entrainement du modèle : NE SERT QU'EN PROD"}}</h2>
        <p class="description"></p>
    </div>
    <div>
        <div class="datasets">
            <h3>{{i18n "Bibliothèque"}}</h3>
            <div class="dataset-images-grid navigable-images-grid" data-category="tester_entrainement_tuto1" ></div>
        </div>
        <div class="instructions">
            <div class="instructions-header">
                <h3 class="programme">{{i18n "Programme"}}</h3>
            </div>
            <div class="instructions-panel large-panel-on-right">
                <div class="instructions-panel-left">
                </div>
                <div class="instructions-panel-right">
                    <button class="train-selections-button">{{i18n "Entraîner"}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
