<div class="intro-step">

    <h1>{{i18n "Que peut-on faire avec ce programme ?"}}</h1>

    <div class="video-parent">
        <div class="video">
            <video src="{{videoPath}}">
                <track src="{{subtitlePath}}" kind="subtitles" srclang="fr" label="Français" />
            </video>
            <div class="video-background">
            </div>
            <div class="video-infos">
                <p class="video-step-title">{{i18n "Créer"}}</p>
                <p class="video-title">{{i18n "Que peut-on faire avec ce programme ?"}}</p>
            </div>
        </div>
    </div>

</div>