<div class="interactive-step">
    <div class="step-description">
        <h2>{{i18n "Comment puis-je améliorer mon jeu de données ?"}}</h2>
        <p class="description">{{i18n "Modifier les images en cliquant dessus, puis les remplacer par une image de la bibliothèque ou importée depuis l'ordinateur ou encore prendre une photo. Cliquer sur "}}<span class="btn-label">{{i18n "Entraîner"}}</span>{{i18n " pour donner les images au programme."}}</p>
    </div>
    <div class="datasets-and-instructions test-with-webcam">
        <div class="datasets">
            <div class="instructions-header">
                <h3>{{i18n "Bibliothèque"}}</h3>
            </div>
            <div class="parent-webcam-bg" >
                <div class="parent-webcam small-size" ></div>
            </div>
            <div class="parent-buttons">
                <button class="snapshot-button hidden">{{i18n "Prendre une photo"}}</button>
                <label class="file-upload-button">
                    <input type="file" class="dataset-file-upload" />
                    {{i18n "Importer une photo"}}
                </label>
            </div>
            <div class="dataset-images-grid navigable-images-grid clickable-images-grid three-rows" data-category="entrainement_tuto2" ></div>
        </div>

        <div class="instructions">

            <div class="instructions-panel full-height large-panel-on-left modify-selection-step">
                <div class="instructions-panel-left">

                    <div class="instructions-header">
                        <h3 class="programme">{{i18n "Programme"}}</h3>
                    </div>

                    <div class="first-category-panel category-panel">
                        <!-- Nom de la première catégorie -->
                        <div class="instructions-panel-left-header instructions-panel-header-category1">
                            <h4>{{i18n category1 }}</h4>
                            <input type="text" class="category-name-input hidden" />
                        </div>

                        <!-- Galerie de la première catégorie -->
                        <div class="dataset-images-grid category-images-grid category1-images-grid" ></div>

                        <button class="modify-selections-button modify-category1-button">{{i18n "Modifier"}}</button>
                        <button class="validate-selection-button validate-category1-button hidden">{{i18n "Valider"}}</button>
                    </div>

                    <div class="second-category-panel category-panel">
                        <!-- Nom de la seconde catégorie -->
                        <div class="instructions-panel-left-header instructions-panel-header-category2">
                            <h4>{{i18n category2 }}</h4>
                            <input type="text" class="category-name-input hidden" />
                        </div>

                        <!-- Galerie de la seconde catégorie -->
                        <div class="dataset-images-grid category-images-grid category2-images-grid" ></div>

                        <button class="modify-selections-button modify-category2-button">{{i18n "Modifier"}}</button>
                        <button class="validate-selection-button validate-category2-button hidden">{{i18n "Valider"}}</button>
                    </div>

                    <button class="train-selections-button">{{i18n "Entraîner"}}</button>
                </div>

                <div class="instructions-panel-right with-border-left">
                    <div class="instructions-header">
                        <h3 class="programme inactive">{{i18n "Prédiction"}}</h3>
                    </div>
                    <div>
                        <ul class="image-for-prediction medium-size inactive" ></ul>
                        <button class="feature-predict-button inactive">{{i18n "Tester"}}</button>
                        <p class="prediction-result"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
