<div class="interactive-step">
    <div class="credits">
        <div class="columns">
            <div class="column">
                <p class="credits-rubrique">{{i18n "Production et réalisation"}}</p>
                <p>{{i18n "Magic Makers pour Class’Code IAI."}}</p>
                <p><a class="basic-link" href="http://www.magicmakers.fr" target="_blank">{{i18n "www.magicmakers.fr"}}</a></p>
                <br/>
                <div>
                    <p>{{i18n "Jade Becker, "}}<span class="metier">{{i18n "Conception et réalisation."}}</span></p>
                    <p>{{i18n "Claude Terosier et Romain Liblau, "}}<span class="metier">{{i18n "Conseil pédagogique."}}</span></p>
                    <p>{{i18n "Veronica Holguin, "}}<span class="metier">{{i18n "Graphisme."}}</span></p>
                    <p>{{i18n "Benjamin Ninassi et Denis Chiron, "}}<span class="metier">{{i18n "Développement."}}</span></p>
                    <p>{{i18n "Sophie de Quatrebarbes, "}}<span class="metier">{{i18n "Réalisation et suivi de production."}}</span></p>
                </div>
            </div>
            <div class="column">
                <p class="credits-rubrique">{{i18n "Données, logiciels, etc..."}}</p>
                <p>{{i18n "Le présent tutoriel ne stocke aucune donnée personnelle. Les images sont traitées au niveau local sur la machine de l’utilisateur."}}</p>
                <br/>
                <p>{{i18n "Hébergement : Inria Rocquencourt."}}</p>
                <p>{{i18n "Algorithme de machine learning : ML5."}}</p>
                <p>{{i18n "Navigateurs supportés : Edge, Chrome, Mozilla, Safari, Opera"}}</p>
            </div>
        </div>
        <div class="une-production">
            {{i18n "Une production Magic Makers en coproduction avec Inria et S24B l’interactive et class’code."}}
        </div>
        <div class="logos">
            <span class="logo-inria"></span>
            <span class="logo-magic-makers"></span>
            <span class="logo-s24b"></span>
            {{{i18n "EXTRA_LOGO" " "}}}
        </div>
        <div class="create-commons">
            {{i18n "© Cette ressource est sous licence CC BY SA 2020"}}
        </div>
    </div>
</div>
