<div class="interactive-step">
    <div class="step-description">
        <h2>{{i18n "Entraînons notre programme à reconnaître des hommes et des femmes."}}</h2>
        <p class="description">{{i18n "Entraînons le programme pour qu’il associe les exemples d’images aux catégories. Cliquer sur "}}<span class="btn-label">{{i18n "Entraîner"}}</span>.</p>
    </div>
    <div class="datasets-and-instructions">
        <div class="datasets no-dataset">
            <h3>{{i18n "Bibliothèque"}}</h3>
            <div class="dataset-images-grid navigable-images-grid" data-category="entrainement_tuto2" ></div>
        </div>
        <div class="instructions">
            <div class="instructions-panel full-height large-panel-on-left">

                <div class="instructions-panel-left">

                    <div class="instructions-header">
                        <h3 class="programme">{{i18n "Programme"}}</h3>
                    </div>

                    <!-- Nom de la première catégorie -->
                    <div class="instructions-panel-left-header">
                        <h4>{{i18n  category1 }}</h4>
                        <span class="validation"></span>
                    </div>

                    <!-- Galerie de la première catégorie -->
                    <div class="dataset-images-grid category1-images-grid category-images-grid" ></div>

                    <!-- Nom de la seconde catégorie -->
                    <div class="instructions-panel-left-header">
                        <h4>{{i18n  category2 }}</h4>
                        <span class="validation"></span>
                    </div>

                    <!-- Galerie de la seconde catégorie -->
                    <div class="dataset-images-grid category2-images-grid category-images-grid" ></div>

                    <button class="train-selections-button">{{i18n "Entraîner"}}</button>
                </div>

                <div class="instructions-panel-right with-border-left inactive">
                    <div class="instructions-header">
                        <h3 class="programme">{{i18n "Prédiction"}}</h3>
                    </div>
                    <div>
                        <ul class="image-for-prediction medium-size" ></ul>
                        <button class="feature-predict-button ">{{i18n "Tester"}}</button>
                        <p class="prediction-result"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
