<div class="intro-step">

    <h1>{{i18n "Introduction"}}</h1>

    <div class="video-parent">
        <div class="video">
            <video src="{{videoPath}}">
                <track src="{{subtitlePath}}" kind="subtitles" srclang="fr" label="Français" />
            </video>
            <div class="video-background">
            </div>
            <div class="video-infos">
                <p class="video-step-title">{{i18n "Expérimenter 1/3"}}</p>
                <p class="video-title">{{i18n "De l'art de préparer les données..."}}</p>
            </div>
        </div>
    </div>

</div>