<div class="interactive-step">
    <div class="step-description">
        <h2>{{i18n "Notre programme comprend-il encore des biais ?"}}</h2>
        <p class="description">{{i18n "Tester le programme et faire autant d’aller-retours que nécessaire pour l’améliorer."}}</p>
    </div>
    <div class="datasets-and-instructions">
        <div class="instructions">
            <div class="instructions-header">
                <h3 class="programme">{{i18n "Jeu de données"}}</h3>
            </div>
            <div class="instructions-panel large-panel-on-left">
                <div class="instructions-panel-left">

                    <!-- Nom de la première catégorie -->
                    <div class="instructions-panel-left-header">
                        <h4>{{i18n category1 }}</h4>
                        <span class="validation"></span>
                    </div>

                    <!-- Galerie de la première catégorie -->
                    <div class="dataset-images-grid category1-images-grid category-images-grid" ></div>

                    <!-- Nom de la seconde catégorie -->
                    <div class="instructions-panel-left-header">
                        <h4>{{i18n category2 }}</h4>
                        <span class="validation"></span>
                    </div>

                    <!-- Galerie de la seconde catégorie -->
                    <div class="dataset-images-grid category2-images-grid category-images-grid" ></div>

                    <button class="modify-selections-button">{{i18n "Modifier"}}</button>
                </div>

                <div class="instructions-panel-right with-border-left">
                    <div class="instructions-header">
                        <h3 class="programme">{{i18n "Prédiction"}}</h3>
                    </div>
                    <div>
                        <ul class="image-for-prediction medium-size" ></ul>
                        <button class="feature-predict-button hidden">{{i18n "Tester"}}</button>
                        <p class="prediction-result"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="datasets">
            <h3>{{i18n "Prédiction"}}</h3>
            <div class="dataset-images-grid navigable-images-grid clickable-images-grid" data-category="prediction_tuto2" ></div>
        </div>
    </div>
</div>
