<div class="interactive-step">
    <div class="step-description">
        <h2>{{i18n "Utile, rigolo, trompeur ? Que voulons-nous faire dire à notre programme ?"}}</h2>
        <p class="description">{{i18n "Créons notre set de données et entraînons notre programme avant de le tester. A recommencer sans modération :-)"}}</p>
    </div>
    <div class="datasets-and-instructions test-with-webcam">
        <div class="datasets">
            <div class="instructions-header">
                <h3>{{i18n "Bibliothèque"}}</h3>
            </div>
            <div class="parent-webcam-bg" >
                <div class="parent-webcam" ></div>
            </div>
            <div class="parent-buttons">
                <button class="snapshot-button">{{i18n "Prendre une photo"}}</button>
                <label class="file-upload-button">
                    <input type="file" class="dataset-file-upload" />
                    {{i18n "Importer une photo"}}
                </label>
            </div>
        </div>

        <div class="instructions">

            <div class="instructions-panel full-height large-panel-on-left modify-selection-step">
                <div class="instructions-panel-left">

                    <div class="instructions-header">
                        <h3 class="programme">{{i18n "Programme"}}</h3>
                    </div>

                    <div class="first-category-panel category-panel">

                        <!-- Nom de la première catégorie -->
                        <div class="instructions-panel-left-header instructions-panel-header-category1">
                            <h4 class="hidden">{{i18n category1 }}</h4>
                            <input type="text" class="category-name-input " value="{{i18n category1 }}" />
                        </div>

                        <!-- Galerie de la première catégorie -->
                        <div class="dataset-images-grid category-images-grid category1-images-grid selected-images-grid" ></div>

                        <button class="modify-selections-button modify-category1-button hidden">{{i18n "Modifier"}}</button>
                        <button class="validate-selection-button validate-category1-button hidden active">{{i18n "Valider"}}</button>
                    </div>

                    <div class="second-category-panel category-panel">

                        <!-- Nom de la seconde catégorie -->
                        <div class="instructions-panel-left-header instructions-panel-header-category2 inactive">
                            <h4>{{i18n category2 }}</h4>
                            <input type="text" class="category-name-input hidden" value="{{i18n category2 }}" />
                        </div>

                        <!-- Galerie de la seconde catégorie -->
                        <div class="dataset-images-grid category-images-grid category2-images-grid inactive" ></div>

                        <button class="modify-selections-button modify-category2-button hidden">{{i18n "Modifier"}}</button>
                        <button class="validate-selection-button validate-category2-button hidden">{{i18n "Valider"}}</button>
                    </div>

                    <button class="train-selections-button inactive">{{i18n "Entraîner"}}</button>
                </div>

                <div class="instructions-panel-right with-border-left">
                    <div class="instructions-header">
                        <h3 class="programme inactive">{{i18n "Prédiction"}}</h3>
                    </div>
                    <div>
                        <ul class="image-for-prediction medium-size inactive" ></ul>
                        <button class="feature-predict-button inactive">{{i18n "Tester"}}</button>
                        <p class="prediction-result"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
