    <div class="step-description">
        <p class="chapter">{{i18n "Nourrir l'IA - Le cri des animaux "}}</p>
    </div>

    <div class="tuto-img" id="tuto1">
    Dans ce qui va suivre, vous allez créer un classificateur de vos propres imitations pour 2 cris d'animaux : <br />
    Le coq et le cochon
<!--
        <img id="img1" src="" />
        <div class="explaination" id="explaination1"><div class="numExp">1</div>{{i18n "Cliquez ici pour commencer"}}</div>
        <img id="img2" src="" />
        <div class="explaination" id="explaination2"><div class="numExp">2</div>{{i18n "Faites le silence et cliquez une fois sur ce premier bouton"}}</div>
        <img id="img3" src="" />
        <div class="explaination" id="explaination3"><div class="numExp">3</div>{{i18n "Cliquez sur ce bouton et imitez le coq dès que vous voyez que l'enregistrement commence"}}</div>
        <img id="img4" src="" />
        <div class="explaination" id="explaination4"><div class="numExp">4</div>{{i18n "Cliquez sur ce bouton et imitez le cochon dès que l'enregistrement commence"}}</div>
        <img id="img5" src="" />
        <div class="explaination" id="explaination5">{{i18n "Enregistrez au moins 3 échantillons pour chaque classe"}}</div>

         <img id="img6" src="" />
         <div class="explaination" id="explaination6"><div class="numExp">5</div>{{i18n "Enfin Cliquez ici et imitez le coq ou le cochon pour voir si la reconnaissance fonctionne"}}</div>
-->
    </div>



