       <div class="step-description">
           <p class="chapter">{{i18n "Nourrir l'IA - Le cri des animaux "}}</p>
           <p class="description">Classifiez vos propres imitations des cris des animaux
       </div>
        <iframe class="embiframe"  id="myiframe" src=""></iframe>
        <div class="decompte">{{i18n "Enregistrement dans"}}<br /><span class="secondes">{{i18n " 3 "}}</span>{{i18n "sec."}}</div>

        <div class="consignes"></div>
        <div class="slide-out"></div>
        <div class="slide-in"></div>