    <div class="step-description">
        <p class="chapter">{{i18n "Nourrir l'IA - Le cri des animaux "}}</p>
        <p class="description">Écoutons le cri d’un animal et essayons de l'imiter !
    </div>
    <iframe class="embiframe"  id="myiframe" allow="autoplay" src=""></iframe>
<div><button class="to_iframe hidden">{{i18n "Lancer la roue"}}</button></div>