@charset "UTF-8";

.tuto3-accueil {
    display: flex;
    background: #FAF7EC;
    width: 100%;
    height:100%;
    margin:0 auto;
    background: url(../images/accueil_tuto1_avec_titre.png) center / contain no-repeat;
    text-align: center;
}

h1.tuto3-accueil-title {
    display: inline-block;
    visibility: hidden;
    color: #016ED7;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
}

h1.tuto3-accueil-title > span {
    display: inline-block;
    vertical-align: middle;
}

h1.tuto3-accueil-title .vous-avez-dit {
    font-size: 40px;
}

h1.tuto3-accueil-title .ia {
    font-size: 175px;
    margin-left: 8px;
    margin-top: -38px;
}

h1.tuto3-accueil-title .point-interrogation {
    font-size: 300px;
    margin-top: -27px;
    margin-left: 11px;
}
.basic-link{
    pointer-events: auto;
}
.credits{
    text-align: left;
    pointer-events: none;
}
.credits a {
    color: #00A387;
}

.credits .une-production {
    color: #347D70;
    font-size: 14px;
}
.credits-click{
    position:absolute;
    top:80px;
    left:0px;
    right:0px;
    bottom:0px;
}

@media screen and (max-width:768px) {

    .tuto3-accueil {
        display: flex;
        align-items: stretch;
        background: #FAF7EC;
        width: 100%;
        height:100%;
        margin:0 auto;
        background: url(../images/accueil_tuto1_S_2X.png) top 50px center / 90vw no-repeat;
    }

    h1.tuto3-accueil-title {
        visibility: visible;
        margin: 0 auto;
        transform: scale(0.4, 0.4);
        transform-origin: 0% 0%;

        left: calc( 50vw - 150px );
        top:calc( 40vw + 100px );
        position: relative;
    }

}

/* --------------------------------------*/
.qcm-instructions-panel {
    width: 100%;
    position:relative;
}
.qcm-instructions-panel .instructions-panel-top {
    background: url(../images/tuto3_texture.png);
    padding: 20px;


}
.qcm-zoom{
    position:absolute;
    top: 252px;
    right: 20px;

    height: 48px;
    width: auto;
    border: 1px solid rgba(121, 121, 121, 0.61);
    border-radius: 24px;
    background-color: #5937B9;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.39);
    padding: 5px 20px;
    margin-top: 20px;

    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;

    cursor:pointer;
}
.image-for-qcm {
    /*background: url(../images/texture.png);*/
    background-size:cover;
    background-position:center;
    width: 300px;
    height: 300px;
    border: solid 1px #999999;
    background-color:rgba(255, 255, 255, 0.53);
    border-radius: 5px;
    overflow: hidden;
    margin: 0px auto;

}
.qcm-instructions-panel .instructions-panel-bottom {

    width: 100%;
    text-align: center;

}
.instructions-panel-bottom button {

    height: 48px;
    width: auto;
    border: 1px solid rgba(121, 121, 121, 0.61);
    border-radius: 24px;
    background-color: #5937B9;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.39);
    padding: 5px 20px;
    margin-top: 20px;

    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    cursor:pointer;
}
.savoir-plus {

    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #000000;
    padding:30px;

}
.savoir-plus ul{
    list-style:unset;
}
.savoir-plus p{
    margin-top:30px;
}
.tuto3-description{
    position:absolute;
    left: 50%;
    top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color:#FF7558;

    width: 80%;
    max-width: 1024px;
    transform: translate(-50%,-50%);




}

.embiframe{
    width:800px;
    height:500px;
    margin:0 auto;
}
.step-contents{
    text-align:center;
}

.to_iframe{


    height: 48px;
    width: auto;
    border: 1px solid rgba(121, 121, 121, 0.61);
    border-radius: 24px;
    background-color: #5937B9;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.39);
    padding: 5px 20px;
    margin-top: 20px;

    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;

    cursor:pointer;
}
.tuto-img{
    width: 640px;
    margin: 80px auto;
    position: relative;
    height: 400px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    color: #D2553F;
    text-align: left;
}
.tuto-img img{
    width:100%;
    display:none;
}
.explaination{
    position:absolute;
    font-size:20px;
    font-family: 'Rambla', sans-serif;
    color:#FF7558;
    text-align: left;
    background-color:#FFFFFF;

    display:none;
}
.numExp{
    position:absolute;
    top: -0px;
    left: -40px;
    border-radius:50px;border-style:solid;border-width:2px;
    border-color:#FF7558;
    color:#FF7558;
    font-size:30px;
    width:30px;
    height:30px;

    background-color:#FFFFFF;
    text-align: center;
}

#explaination1{
    top: 80px;
    left: 550px;
    width: 200px;
    display:block;
}
#explaination2{
    top: 35px;
    left: -200px;
    width: 200px;
}
#explaination3{
    top: 120px;
    left:  -200px;
    width: 200px;
}
#explaination4{
    top: 240px;
    left: -230px;
    width: 230px;
}

#explaination5{
    top: 200px;
    left: 670px;
    width: 230px;
    font-size: 24px;
    padding: 5px;
}
#explaination6{
    top: 330px;
    left: -230px;
    width: 230px;
}
#img1{
    display:block;
}

.decompte{
    position:absolute;
    top:400px;
    left:calc(50%);/* + 410px);*/
    width:calc(50%);/* - 420px);*/
    max-width:200px;
    font-size:24px;
    font-family: 'Rambla', sans-serif;
    color:#D2553F;
    text-align:center;
    display:none;
}
.consignes{
    position:absolute;
    top:200px;
    left:calc(50% + 410px);
    width:calc(50% - 420px);
    max-width:300px;
    font-size:24px;
    font-family: 'Rambla', sans-serif;
    color:#D2553F;
    text-align:left;

}
.secondes{
    font-size:42px;
}
.slide-out{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #D2553F;
    width:calc(50% - 420px);
    height: 10px;
    position: absolute;
    top: 450px;
    left: calc(50%);
    max-width:200px;
    display:none;

}

.slide-in{
    background-color:#D2553F;
    border-radius:10px;
    width:calc(50% - 420px);
    height:10px;

    position:absolute;
    top:450px;
    left:calc(50%);
    max-width:200px;
    display:none;

}
.record{


}
.previous-tuto{
    display: inline-block;
    padding: 0 24px 0 24px;
    margin-top: 8px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    color: #00A387;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid #00A387;
    border-radius: 24px;

    height: 40px;
    width: auto;

}
.step-footer ul.navigation li{
    display:none;
}

.intro-step .video-background {
    cursor:pointer;
}
.step-header .title-link a:nth-child(1) {
    padding-right:10px;
}
.step-header .title-link a:nth-child(2) {
    padding-left:0px;
}



.intro-step {
    background: url(../images/tuto3_texture.png);
}
.intro-step .video-background {
    background: #F8AE37 url(../images/b_video.svg) center / 140px 140px no-repeat;
}
.intro-step .video-parent .video-infos .video-title {
    color: #4462CE;
}
.intro-step .video-parent .video-infos {
    background: rgba(243, 215, 49, 0.46);
}
.gras{
    font-weight:bold;
}
.hidden{
    display:none;
}