@charset "UTF-8";

.parent-webcam-bg,
.intro-step {
    background: url(../images/tuto2_texture.png) ;
}

.parent-webcam-bg .parent-webcam {
    margin: 14px 0 14px 20px;
}

.step-contents.route_ {
    background-color: #CED5EE;
}

.tuto-accueil {
    display: flex;
    width: 100%;
    height:100%;
    margin:0 auto;
    background:#CED5EE url(../images/accueil_tuto2_avec_titre.png) center / contain no-repeat;
    text-align: center;
}

h1.tuto-accueil-title {
    display: inline-block;
    visibility: hidden;
    color: #016ED7;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
}

h1.tuto-accueil-title > span {
    display: inline-block;
    vertical-align: middle;
}

h1.tuto-accueil-title .booste {
    font-size: 40px;
}

h1.tuto-accueil-title .ia {
    font-size: 175px;
    margin-left: 8px;
    margin-top: -38px;
}

h1.tuto-accueil-title .point-interrogation {
    font-size: 300px;
    margin-top: -27px;
    margin-left: 11px;
}

.step-contents {
    /* vertical align */
    display: flex;
    align-items: center;
}

.webcam-capture,
.instructions, .datasets {
    background-color: #CED5EE;
}

.instructions-panel .instructions-panel-left,
.instructions.full-width .instructions-panel-left,
.large-panel-on-left .dataset-images-grid {
    background: #CED5EE url(../images/tuto2_texture.png);
}

.intro-step .video-parent .video-infos::before {
    background: url(../images/image_video_tuto2.svg) left bottom / contain no-repeat;
    opacity: 0.8;
}

.intro-step .video-background {
    background-color: #4462ce;
}

.intro-step .video-parent .video-infos {
    background: rgba(255,117,88, 0.3);
}

.step-contents h3 {
    color: #4462CE;
}

.file-upload-button,
.datasets button,
.instructions button {
    background-color: #791E6D;
}

.datasets label.file-upload-button {
    padding: 7px 25px;
}

.instructions-panel select,
.instructions-panel h4 {
    background-color: #4462CE;
    border: solid 1px #4462CE;
}

.instructions-panel-left-header span.validation {
    background: url(../images/coche_validation_bleue.svg);
}

.instructions-panel-right .prediction-result {
    color:#791E6D;
}

.instructions-panel.large-panel-on-left .instructions-panel-right {
    padding-top:0;
}

.image-for-prediction.medium-size {
    display: inline-block;
    margin-bottom: 20px;
}

.popup-content {
    color: #4462CE;
}

.dataset-images-grid li span.image {
    width:52px;
    height: 52px;
}

.credits {
    width: 100%;
    background-color: #CED5EE;
}

.credits .logos {
    width: 700px;
}

.credits .logos img{
    height:60px;
}

@media screen and (max-width:1024px) {

    .step-contents.route_experimenter_etape2 .instructions-panel-right,
    .step-contents.route_experimenter_etape3 .instructions-panel-right,
    .step-contents.route_experimenter_etape4 .instructions-panel-right,
    .step-contents.route_experimenter_etape8 .instructions-panel-right,
    .step-contents.route_creer_etape2 .instructions-panel-right {
        display: none;
    }

    .step-contents.route_experimenter_etape5 .instructions-panel.large-panel-on-left .instructions-panel-left,
    .step-contents.route_experimenter_etape7 .instructions-panel.large-panel-on-left .instructions-panel-left,
    .step-contents.route_experimenter_etape9 .instructions-panel.large-panel-on-left .instructions-panel-left,
    .step-contents.route_creer_etape3 .instructions-panel.large-panel-on-left .instructions-panel-left {
        width:76%;
    }

    .step-contents.route_experimenter_etape5 .instructions-panel.large-panel-on-left .instructions-panel-right,
    .step-contents.route_experimenter_etape7 .instructions-panel.large-panel-on-left .instructions-panel-right,
    .step-contents.route_experimenter_etape9 .instructions-panel.large-panel-on-left .instructions-panel-right,
    .step-contents.route_creer_etape3 .instructions-panel.large-panel-on-left .instructions-panel-right {
        width:24%;
    }

    .datasets-and-instructions.test-with-webcam .parent-buttons {
        top: 50px;
    }

}


@media screen and (max-width:768px) {

    .intro-step.tuto-accueil {
        display: flex;
        align-items: stretch;
        background: #FAF7EC;
        width: 100%;
        height:100%;
        margin:0 auto;
        background: url(../images/accueil_tuto2_S_2X.png) top 150px center / 90vw no-repeat;
    }

    h1.tuto-accueil-title {
        visibility: visible;
        margin: 0 auto;
        transform: scale(0.4, 0.4);
        transform-origin: 0% 0%;

        left: calc( 50vw - 150px );
        top:calc( 40vw );
        position: relative;
    }

    .instructions-panel-right .prediction-result {
        /* text-align: left; */
    }

    .instructions .instructions-panel-right .file-upload-button,
    .instructions .instructions-panel-right button {
        margin-left:0;
    }

}