<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta id="myViewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
		<title>Robert de Barretin</title>
		<script src="js/lib/jquery.min.js"></script>
		<script src="js/lib/chunkify.js"></script>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<section id="bot">
			<article id="chat">
				<p id="go-robert"><span>Activez votre micro</span></p>
				<div id="container"></div>
			</article>
			<div id="console">
				<div id="realtime-speech"></div>
			</div>
		</section>

		<section id="admin">
			<article id="keywords-list">

				<button>+ Ajouter un mot déclencheur</button>
				<ul id="keywords"></ul>
			</article>
			<article class="hidden" id="keywords-editor">
				<div class="entry">
					<div id="keyword-input">
						<label>Mots Clefs :</label>
							<!--input type="text" name="motsclefs[]" value="{{Valeur}}" required placeholder="…"-->
					</div>
					<button class="btn" id="add_keyword">Ajouter un mot clef</button>
				</div>
					
				<div class="entry">
					<div id="reply">
						<label>Phrases :</label>
						<!--textarea type="text" name="texte[]" required placeholder="…">{{Valeur}}</textarea-->
					</div>
					<button class="btn" id="add_reply">Ajouter une réponse</button>
				</div>
							
				<div class="entry">
					<button id="btn_save">Enregistrer</button>
				</div>
			</article>
		</section>

		<script src="js/localstorageDB.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>